body {
  font-family: 'PT Sans', sans-serif;
}

.club-page-banner {
  margin-top: -64px;
  width: 100%;
  height: 100vh;
  background: url('/img/smpbanner.jpg') no-repeat center center;
  background-size: cover;
}

.indicator {
  background-color: orange !important;
}

.tabs .tab a {
    color: rgba(0, 0, 0, 0.5) !important;
}

.tabs .tab a:hover,.tabs .tab a.active {
  color: black !important;
}

.card {
  height: 360px;
}

.club-card-title {
  font-weight: bold;
}

.majevents,.clubproj{
  font-size: 20px;
  color: yellow;
  font-family: sans-serif;
}

.club-details, .club-details-content, .club-img, .club-card-temp, .club-card {
  transition: top .4s ease-in, left .4s ease-out, width .4s ease-in-out, height .4s ease-in-out;
  -webkit-transition: top .4s ease-in, left .4s ease-out, height .4s ease-in-out, width .4s ease-in-out;
}

.club-details {
  transition: background-color 0.4s linear;
  -webkit-transition: background-color 0.4s linear;
}

.close-button {
  position: absolute;
  top: 2vh;
  left:5vw;
  color: #fff;
  font-size: 30px;
}

.close-button:hover {
  cursor: pointer;
}

.card-content {
  padding: 30px;
}

.welcome-text {
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
  margin-bottom: 10px;
}

.det{
  padding-top: 5px;
  padding-bottom: 5px;
}
#sidenav-overlay {
  z-index: 996;
}
.page-info {
  margin-top: 20px;
  margin-bottom: -10px: 
}

.home-page-banner {
  margin-top: -64px;
  width: 100%;
  height: 100vh;
  background: url('/img/smpbanner.jpg') no-repeat center center;
  background-size: cover;
}

.pt-sans {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .card {
    height: 330px;
  }
}

@media only screen and (min-width: 1400px) {
  .card {
    height: 430px;
  }

  .club-card {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 3000px) {
  .card {
    height: 450px;
  }
  .club-card {
    margin-top: 130px;
  }
}

@media only screen and (min-width: 4000px) {
  .club-card {
    margin-top: 200px;
  }
}