
          .con{
                font-size: 16px;
                color: black;
          }
          .majevents,.clubproj{
            font-size: 20px;
            color: yellow;
            font-family: sans-serif;
          }
          .det{
            padding-top: 5px;
            padding-bottom: 5px;
          }
           #sidenav-overlay {
        z-index: 996;
       }
       .page-info {
      margin-top: 20px;
      margin-bottom: -10px: 
      }

          