
.indicator {
  background-color: orange !important;
}

.tabs .tab a {
    color: rgba(0, 0, 0, 0.7) !important;
}

.tabs .tab a:hover,.tabs .tab a.active {
  color: black !important;
}
    
#sidenav-overlay {
    z-index: 996;

}    