body {
	width: 100vw;
	overflow-x: hidden;
	background: -webkit-linear-gradient(0deg, #03a9f4, #0277bd) fixed; /* Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(0deg, #03a9f4, #0277bd) fixed; /* For Opera 11.6 to 12.0 */
  	background: -moz-linear-gradient(0deg, #03a9f4, #0277bd) fixed; /* For Firefox 3.6 to 15 */
  	background: linear-gradient(0deg, #03a9f4, #0277bd) fixed; /* Standard syntax */
  	font-family: 'Merriweather Sans', sans-serif;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 80vh;
}

.header-title {
	font-weight: bold;
	color: white;
	font-family: 'Cabin', sans-serif;
	align-self: center;
}

blockquote {
	border-left: 5px solid #1a237e;
}

.back-link-container {
}

.back-link {
	color: white;
	text-decoration: none;
	align-self: center;
	align-self: center;
	margin-top: 10px; 
	border: 2px solid white;
	padding: 10px;
	border-radius: 5px;
	transition: all 0.2s linear;
}

.back-link:hover {
	background-color: white;
	color: black;
	box-shadow: 1px 1px 10px black;
}

.row {
	padding: 20px;
}

.flow-text {
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
	.row {
		padding: 10px;
	}

	.header {
		padding: 10px;
	}
}