body {
	font-family: 'PT Sans', sans-serif;
}

.faq-initial {
	height: 50vh;
	width: 100%;
	position: absolute;
	top: 0;
}

.faq-heading {
	font-size: 8em;
	position: absolute;
	width: 100%;
}

.collapsible {
	margin-top: 40vh;
}

.collapsible-header {
	font-size: 2rem;
	padding: 10px;
	padding-left: 20px;
}

.collapsible-body {
	font-size: 1.5rem;
}

.form-container {
	width: 80%;
	margin-left: 10%;
}

.email-label {
	padding-bottom: 15px;
}

.form-container textarea {
	margin-top: 15px;
}

textarea {
	height: auto;
}
