.con{
  font-size: 16px;
  color: yellow;
}

.pt-sans {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.det{
  padding-top: 5px;
  padding-bottom: 5px;
}

.fests-page-banner {
  margin-top: -64px;
  width: 100%;
  height: 100vh;
  background: url('/img/festbanner.jpg') no-repeat center center;
  background-size: cover;
}

.fest-name {
  font-weight: bold;
  color: black;
}

#sidenav-overlay {
  z-index: 996;
}

#content,#content1{
  font-size: 20px;
  padding-bottom: 20px;
} 

.bodyfest {
  width: 100vw;
  overflow-x: hidden;
  background: -webkit-linear-gradient(0deg, #03a9f4, #0277bd) fixed; /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(0deg, #03a9f4, #0277bd) fixed; /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(0deg, #03a9f4, #0277bd) fixed; /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, #ef6c00, #ff9800) fixed; /* Standard syntax */
  font-family: 'PT Sans', sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80vh;
}
#festimg {
  max-width: 100%;
  height: auto;
}

.header-title {
  font-weight: bold;
  color: white;
  font-family: 'Cabin', sans-serif;
  align-self: center;
}

.fest-cont {
  padding: 20px;
}

.back-link {
  color: white;
  text-decoration: none;
  align-self: center;
  align-self: center;
  margin-top: 10px; 
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.back-link:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 10px black;
}

.flow-text {
  font-size: 20px;
}

img {
    display: block;
    margin: auto;
/*    width: 40%;
*/}

nav {
    height: 96px;
    line-height: 96px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 96px;
    line-height: 96px;
}

nav .button-collapse i {
    height: 96px;
    line-height: 96px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 96px;
        line-height: 96px;
    }
}

@media only screen and (max-width: 600px) {
  .row {
    padding: 10px;
  }

  .header {
    padding: 10px;
  }
}
