.home-page-banner {
	margin-top: -64px;
	width: 100%;
	height: 100vh;
	background: url('/img/smpbanner.jpg') no-repeat center center;
	background-size: cover;
}

.welcome-text {
	font-family: 'PT Sans', sans-serif;
	font-weight: bolder;
	margin-bottom: 10px;
}

#sidenav-overlay {
	z-index: 996;
}

.bg-nitk {
    background: url(/img/smpbanner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper {
	display: flex;
}

.page-info {
	margin-top: 20px;
	margin-bottom: -10px: 
}

@media only screen and (max-width: 600px) {
	.home-page-banner {
		margin-top: -54px;
	}
}